{% extends 'core/base.html' %}

{% block title %}

    RMS - Log in

{% endblock %}

{% block content %}

    <form method="post" action=".">
        {% csrf_token %}
        
        <div class="row g-3 align-items-center justify-content-center">
            <div class="col-auto">
                <label class="col-form-label">Username</label>
                <input type="text" name="username" autofocus class="form-control">
            </div>
        </div>

        <div class="row g-3 align-items-center justify-content-center">
            <div class="col-auto">
                <label for="inputPassword6" class="col-form-label">Password</label>
                <input type="password" name="password" class="form-control">
            </div>
        </div>

        <div class="d-grid my-3 gap-2 d-md-flex justify-content-center">
            <button type="submit" class="btn btn-success bg-gradient">Log in</button>
        </div>

        <div class="d-grid  gap-2 d-md-flex justify-content-center">
            <p>Dont't have an account? <a href="{% url 'signup' %}">Sign up</a> here</p>
        </div>
        
    </form>

{% endblock %}